:root {
  --green-dark: #48c555;
  --green-light: #cefcc7;
  --red: #e13d3d;

  --black: #000000;
  --gray-dark: #717171;
  --gray-medium: #c4c4c4;
  --gray-light: #eeeeee;
  --white: #ffffff;
}

::-webkit-scrollbar {
  height: 0;
}

@font-face {
  font-family: Inter;
  src: url("../font/Inter/Inter-VariableFont_slnt\,wght.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Inter";
}

nav {
  width: 100%;
  height: 50px;
  border-bottom: 2px solid var(--gray-medium);
  background-color: var(--white);
}

nav span {
  margin: auto 10px;
  float: right;
  height: 100%;
  width: fit-content;
  padding: 15px;
  font-weight: 700;

  cursor: pointer;
  transition: 0.3s;
}

nav span {
  display: inline-block;
}

nav span::after {
  content: "";
  width: 0px;
  height: 2px;
  display: block;
  background: black;
  transition: .3s;
  margin: auto;
}

nav span:hover::after {
  width: 100%;
}

nav img {
  padding: 10px;
}

#hero {
  height: fit-content;
  width: 100%;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

#hero img {
  height: 100%;
  user-select: none;
}

#hero h2 {
  max-width: 450px;
}

.shape-option img {
  width: 350px;
}

.shape-option img:hover {
  filter: brightness(90%);
  transform: scale(1.07);
  transition: all .2s ease-in-out;
  cursor: pointer;
}

.setup-header {
height: 220px;
}

.setup-header p {
  margin: 10px 0 0 0;
  font-size: 24px;
}

/* GENERAL CLASSES */
.btn {
  width: 135px;
  height: 30px;
  border-radius: 12px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  user-select: none;
}

.btn:active {
  filter: brightness(80%);
}

.cta-primary {
  color: var(--white);
  background-color: var(--green-dark);
}

.cta-secondary {
  color: var(--green-dark);
  background-color: var(--white);
  border: 2px solid var(--green-dark);
}

.lines {
  display: flex;
  justify-content: space-around;
  width: 100%;
  position: absolute;
  height: 93%;
  z-index: -1;
}

.lines img {
  margin: -5px 0 0 0;
}